.menu-horizontal ul {
list-style-type: none;
background-color: #333;
text-align: center;
text-decoration: none;
}
.menu-horizontal li {
display: inline-block;
color: white;
text-decoration: none;
padding: 15px;
}
.menu-horizontal li a:hover {
background-color: #111;
color: white;
text-decoration: none;


}


.boton-primario {
background-color: #007BFF;
color: white;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
text-decoration: none;
}

.boton-secundario {
background-color: white;
color: #555;
border: 2px solid #ccc;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
text-decoration: none;}


.ul{
    margin: 25px;
    color: white;
    text-decoration: none;
}